.PlanCard {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid grey;
  margin: 2em;

  .PlanCard-body {
      width: 100%;
      height: 200px;

      .PlanCard-title {
          margin: 0;
          padding: 0.8em;
      }

      .PlanCard-info {
          display: flex;
          justify-content: space-around;
          margin-top: 0.8em;

          .PlanCard-price {
              font-size: 3em;
          }
          .month {
              align-self: flex-end;
          }
      }
  }

  &.chosen {
      transform: scale(1.2);
  }
}

.blue {
  .PlanCard-body {
  background-color: rgba(0, 0, 255, 0.564);
  color: white;

      .PlanCard-title {
          background-color: blue;
      }
  }
}

.green {
  .PlanCard-body{
  background-color: rgba(0, 128, 0, 0.747);
  color: white;

      .PlanCard-title {
          background-color: green;
      }
  }
  
}
.red {

  .PlanCard-body{
      background-color: rgba(255, 0, 0, 0.659);
      color: white;

      .PlanCard-title {
          background-color: red;
      }
  }
}

.black {
  .PlanCard-body{
  background-color: rgba(0, 0, 0, 0.708);
  color: white;

      .PlanCard-title {
          background-color: black;
      }
  }
}

